* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
}

.tasks-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tasks-heading i {
  padding: 2%;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
  border-bottom: 1px solid #e4e4e4;
  border-top: 1px solid #e4e4e4;
}

.todo-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 10%;
  background-color: #fff;
  width: 50%;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.todo-header {
  color: #2c2c2c;
  margin-bottom: 2%;
  margin-top: 2%;
  padding: 2%;
}

.form-input {
  width: 90%;
  border: none;
}

#submit-btn {
  cursor: pointer;
}

.form-input:focus {
  outline: none;
  font-family: 'Inter', sans-serif;
}

.form-input::placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-style: italic;
  color: #979493;
  padding-left: 16px;
  padding-top: 15px;
}

ul {
  list-style: none;
  margin-top: 10px;
  z-index: 1;
}

ul li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
  border-bottom: 1px solid #e4e4e4;
  padding: 0.1% 2% 0.1% 2%;
  height: 45px;
  position: relative;
}

.task-description {
  border: none;
  width: 80%;
  font-size: 15px;
  outline: none;
}

.save-btn {
  background-color: #007bff;
  color: #fff;
  padding: 4px;
  border: none;
  cursor: pointer;
}

.save-btn,
.task-description,
.task-state {
  margin-top: 10px;
  height: 23px;
}

.vertical-dots {
  margin-left: auto;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 1%;
}

.three-dots {
  font-size: 20px;
}

.delete-task,
.edit-task {
  font-size: 20px;
}

.strike {
  text-decoration: line-through;
}

.edit-label-wrapper {
  position: absolute;
  z-index: 5;
  right: 14px;
  margin-top: 8px;
  display: none;
  background-color: #fff;
  box-shadow: 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.edit-label-wrapper button {
  border: none;
  background-color: #fff;
  width: 100%;
  padding: 3px;
  cursor: pointer;
  height: 30px;
  transition: 0.3s;
}

.edit-label-wrapper button:nth-child(1) {
  border-right: 1px solid #e4e4e4;
}

.vertical-dots:hover .edit-label-wrapper {
  display: flex;
  flex-direction: row;
  top: 0;
}

.btn-edit:hover {
  color: #007bff;
}

.btn-delete:hover {
  color: #dc3545;
}

.save-btn:hover {
  background-color: #00b7ff;
  color: #fff;
}

.sync:hover {
  color: #007bff;
}

.todo-footer {
  background-color: #fff;
  color: #8c8c8c;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
  border: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.todo-footer:hover {
  background-color: #dc3545;
  color: #fff;
  outline: none;
  border: none;
}

.hide {
  display: none;
}
